<section
  *ngFor="let chapter of totalChaptersData"
  class="w-full px-2 flex justify-between h-9 cursor-pointer mb-6 md:mb-[0.5rem] text-sm lg:text-base"
  (click)="goToChapter(chapter.chapter)"
>
  <div class="flex">
    <div class="uploader-status mr-4">
      <mat-progress-spinner
        *ngIf="!chapter.completed && ChapterData.url === chapter.url"
        [mode]="mode"
        [value]="percentage"
        diameter="28"
        strokeWidth="2"
      >
      </mat-progress-spinner>
      <mat-progress-spinner
        [ngClass]="{
          'mat-spinner-color':
            !chapter.completed && ChapterData.url !== chapter.url
        }"
        *ngIf="!chapter.completed && ChapterData.url !== chapter.url"
        [mode]="mode"
        value="100"
        diameter="28"
        strokeWidth="2"
      >
      </mat-progress-spinner>
      <mat-progress-spinner
        *ngIf="chapter.completed"
        [mode]="mode"
        value="100"
        diameter="28"
        strokeWidth="2"
      >
      </mat-progress-spinner>
      <p
        class="md:text-[0.8rem] relative bottom-[66%] left-[33%] lg:bottom-[67%] lg:left-[38%]"
      >
        {{ chapter.chapter }}
      </p>
    </div>
    <p
      class="text-sm md:text-[0.8rem] pt-1"
      [ngClass]="{
        'line-through text-[#53a69a]':
          totalChaptersData[chapter.chapter - 1].completed
      }"
    >
      {{ chapter.title }}
    </p>
  </div>
  <div>
    <span
      class="material-icons md:text-[20px]"
      *ngIf="chapter.completed || ChapterData.url === chapter.url"
    >
      arrow_forward_ios
    </span>
  </div>

  <span
    class="material-icons md:text-[20px]"
    *ngIf="!chapter.completed && ChapterData.url !== chapter.url"
  >
    lock
  </span>
</section>
