<nav class="flex flex-col h-full items-center justify-center text-[#75767b]">
  <div class="h-[10%]- pt-4">
    <img class="w-auto h-[50%]" src="../../../assets/logo.jpg" />
  </div>
  <div class="flex flex-col h-[80%] items-center">
    <span class="material-icons mb-6 hover:text-[#6366b8] cursor-pointer">
      browse_gallery
    </span>
    <span class="material-icons mb-6 hover:text-[#6366b8] cursor-pointer">
      date_range
    </span>
    <span class="material-icons mb-6 hover:text-[#6366b8] cursor-pointer">
      note_alt
    </span>
    <span class="material-icons mb-6 hover:text-[#6366b8] cursor-pointer">
      event_note
    </span>
    <span class="material-icons mb-6 hover:text-[#6366b8] cursor-pointer">
      forum
    </span>
    <span class="material-icons mb-6 hover:text-[#6366b8] cursor-pointer">
      workspace_premium
    </span>
    <span class="material-icons mb-6 hover:text-[#6366b8]"> settings </span>
  </div>
  <div class="h-[10%]">
    <span class="material-icons hover:text-[#6366b8] cursor-pointer">
      supervised_user_circle
    </span>
  </div>
</nav>
