<!-- <div>
  <video controls>
    <source [src]="videoUrl" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <video (timeupdate)="onTimeUpdate()" class="h-[80%] absolute right-0 bottom-0">
</div> -->
<div class="bg-blue-900 w-full h-full relative">
  <video
    [src]="ChapterData.url"
    (timeupdate)="onTimeUpdate()"
    class="h-full w-auto bg-cover"
  >
    Your browser does not support the video tag.
  </video>
  <div id="container" class="relative right-[-21] bottom-16">
    <button class="p-2 bg-yellow-600 text-white" (click)="this.togglevideo()">
      <span *ngIf="videoPlaying" class="material-icons"> pause </span>
      <span *ngIf="!videoPlaying" class="material-icons"> play_arrow </span>
    </button>
    <div class="mt-3 w-full border-solid border-black border-2">
      <span id="span" [style.width]="percentage + '%'"> </span>
    </div>
  </div>
</div>
