<div class="w-full h-full relative">
  <video
    [src]="ChapterData.url"
    (timeupdate)="onTimeUpdate()"
    class="h-full w-auto bg-cover"
  >
    Your browser does not support the video tag.
  </video>
  <div id="container" class="relative right-[-30px] bottom-24">
    <button
      class="p-2 bg-[#2d2f3b] text-white rounded-full w-[50px] h-[50px]"
      (click)="this.togglevideo()"
    >
      <span *ngIf="videoPlaying" class="material-icons"> pause </span>
      <span *ngIf="!videoPlaying" class="material-icons"> play_arrow </span>
    </button>
  </div>
</div>
