<div class="w-full h-screen flex flex-row bg-[#1a1c24] text-[#adaeb3]">
  <app-side-nav class="w-[8%]"></app-side-nav>
  <main class="w-[52%] mx-14 my-4 flex flex-col">
    <section class="h-[5%]">
      <p class="text-[#adaeb3]">Courses/Design/{{ courseTitle }}</p>
    </section>
    <section class="flex flex-row w-full justify-between h-[10%]">
      <div class="w-[60%]">
        <h1 class="text-[#e9eaed] p-0 m-0">{{ currentChapterData.title }}</h1>
        <p class="p-0 m-0">Natalie Storm: Design Department</p>
      </div>
      <div class="flex flex-row justify-end w-[40%]">
        <p class="mx-2 py-3 text-[#adaeb3]">
          Chapter {{ currentChapterData.chapter }}/{{ courseChapters.length }}
        </p>
        <div class="mx-3 pt-2">
          <button
            (click)="setBackChapter()"
            class="bg-[#292931] px-2 rounded-l-3xl"
          >
            <span class="material-icons"> chevron_left </span>
          </button>
          <button
            (click)="setNextChapter()"
            class="bg-[#767bfc] px-2 rounded-r-3xl"
          >
            <span class="material-icons"> navigate_next </span>
          </button>
        </div>
      </div>
    </section>
    <section class="w-full h-[auto]">
      <app-video-player
        [ChapterData]="currentChapterData"
        (percentageToParent)="getAdvance($any($event))"
      ></app-video-player>
    </section>
    <section class="w-full h-[30%] flex">
      <div class="w-4/6">
        <div class="flex justify-between w-2/4">
          <p class="border-b-2 border-[#ffffff]">Notes</p>
          <p>Resources</p>
          <p>Quiz</p>
        </div>
        <div class="w-full pr-6">
          <p>{{ courseInfo }}</p>
        </div>
      </div>

      <div class="w-2/6">
        <div
          class="py-3 px-3 max-w-sm mx-auto bg-[#31343d] rounded-md shadow-lg sm:py-3 sm:flex sm:flex-col sm:items-center sm:space-y-0 sm:space-x-3"
        >
          <h3 class="text-[#dcdde2] self-start">About Instructor</h3>

          <div
            class="text-centers sm:text-left flex flex-row justify-around w-full"
          >
            <span class="material-icons p-2 mx-2 text-4xl">
              account_circle
            </span>
            <div class="space-y-0.5 w-full">
              <p class="text-[#dcdde2]">Natalie Storm</p>
              <p class="font-medium text-[#7d7d87]">Design Department</p>
            </div>
          </div>
          <p class="font-medium text-[#7d7d87]">
            Lorem Ipsum is simply dummy text of the printing.
          </p>
        </div>
      </div>
    </section>
  </main>
  <section class="w-[40%] flex flex-col mx-2.5 my-4">
    <app-course-index
      [percentage]="percentageAdvance"
      [chapterNum]="controlChapter"
      [chapterData]="currentChapterData"
      [totalChaptersData]="courseChapters"
    ></app-course-index>

    <app-progress-control
      [ChapterData]="currentChapterData"
      [percentage]="percentageAdvance"
      [totalChaptersData]="courseChapters"
      (setChapter)="setChapter($event)"
    ></app-progress-control>
  </section>
</div>
